//SASS variables
$body-bg-color-primary: #d17608;
$body-bg-color-secondary: #ec3503;
$body-bg-color-primary--dark-theme: hsl(193, 85%, 20%);
$body-bg-color-secondary--dark-theme: hsl(213, 69%, 10%);
$text-color: white;

$shadow-color: #00000033;
$card-bg-color: white;

$selection-bg-color: #0041b3;
$selection-text-color: white;


//CSS variables
:root {
    --body-bg-color-primary: #{$body-bg-color-primary};
    --body-bg-color-secondary: #{$body-bg-color-secondary};
    --body-bg-color-primary--dark-theme: #{$body-bg-color-primary--dark-theme};
    --body-bg-color-secondary--dark-theme: #{$body-bg-color-secondary--dark-theme};
    --text-color: #{$text-color};
    --shadow-color: #{$shadow-color};
    --card-bg-color: #{$card-bg-color};

    --selection-bg-color: #{$selection-bg-color};
    --selection-text-color: #{$selection-text-color};

}


//Dark theme
@media (prefers-color-scheme: dark) {
    $shadow-color: #ffffff33;
    $card-bg-color: black;

    $selection-bg-color: #ffbe4c;
    $selection-text-color: black;

    :root {
        --shadow-color: #{$shadow-color};
        --card-bg-color: #{$card-bg-color};

        --selection-bg-color: #{$selection-bg-color};
        --selection-text-color: #{$selection-text-color};
    }

    body {
        // background-position: 100% 0% !important;
        background-position: 100% 0%;
    }

    .theme {
        background-position: 0% 0% !important;
    }

    .moon-icon {
        display: none !important;
    }

    .sun-icon {
        display: block !important;
    }

}

.moon-icon {
    display: block;
}

.sun-icon {
    display: none;
}



.dark {
    $body-bg-color-primary: #d17608;
    $body-bg-color-secondary: #ec3503;
    $body-bg-color-primary--dark-theme: hsl(193, 85%, 20%);
    $body-bg-color-secondary--dark-theme: hsl(213, 69%, 10%);
    $text-color: white;
    $shadow-color: #ffffff33;
    $card-bg-color: black;

    $selection-bg-color: #ffbe4c;
    $selection-text-color: black;

    //CSS variables
    :root {
        --body-bg-color-primary: #{$body-bg-color-primary};
        --body-bg-color-secondary: #{$body-bg-color-secondary};
        --body-bg-color-primary--dark-theme: #{$body-bg-color-primary--dark-theme};
        --body-bg-color-secondary--dark-theme: #{$body-bg-color-secondary--dark-theme};
        --text-color: #{$text-color};
        --shadow-color: #{$shadow-color};
        --card-bg-color: #{$card-bg-color};

        --selection-bg-color: #{$selection-bg-color};
        --selection-text-color: #{$selection-text-color};

    }

    body {
        // background-position: 100% 0% !important;
        background-position: 100% 0%;
    }

    .theme {
        // background-position: 100% 0% !important;
        background-position: 0% 0% !important;
    }
}


.light {
    //SASS variables
    $body-bg-color-primary: #d17608;
    $body-bg-color-secondary: #ec3503;
    $body-bg-color-primary--dark-theme: hsl(193, 85%, 20%);
    $body-bg-color-secondary--dark-theme: hsl(213, 69%, 10%);
    $text-color: white;

    $shadow-color: #00000033;
    $card-bg-color: white;

    $selection-bg-color: #0041b3;
    $selection-text-color: white;


    //CSS variables
    :root {
        --body-bg-color-primary: #{$body-bg-color-primary};
        --body-bg-color-secondary: #{$body-bg-color-secondary};
        --body-bg-color-primary--dark-theme: #{$body-bg-color-primary--dark-theme};
        --body-bg-color-secondary--dark-theme: #{$body-bg-color-secondary--dark-theme};
        --text-color: #{$text-color};
        --shadow-color: #{$shadow-color};
        --card-bg-color: #{$card-bg-color};

        --selection-bg-color: #{$selection-bg-color};
        --selection-text-color: #{$selection-text-color};

    }

    body {
        // background-position: 100% 0% !important;
        background-position: 0% 0%;
    }
}


//Maps
$breakpoints: (
    mobile: 768px,
    tablet: 992px,
    laptop: 993px,
    desktop: 1150px
);

//Normalization and typography
*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    // transition: all 500ms ease-out;
}

*::selection {
    -webkit-text-stroke: 0px;
    background-color: var(--selection-bg-color);
    color: var(--selection-text-color);
}

//Mixins 

@mixin center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin center-flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin mobile-only {
    @media screen and (max-width: map-get($breakpoints, mobile)) {
        @content;
    }
}


@mixin grid($rows: autofill, $columns: autofill) {
    display: grid;
    grid-template-rows: repeat($rows, 1fr);
    grid-template-columns: repeat($columns, 1fr);
    gap: 20px;
}

@mixin card-styling {
    position: relative;
    aspect-ratio: 1/1;
    height: 150px;
    border-radius: 4px;
    transition:
        scale 250ms ease-out;
    perspective: 1500px;
    perspective-origin: top;

    &:hover {
        scale: 105%;
    }
}

@mixin card-faces-styling {
    background-color: var(--card-bg-color);
    box-shadow: 0px 7px 7px var(--shadow-color);
    border-radius: inherit;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    @include center-flex;
    pointer-events: none; //So that we can select the entire card

    &>img {
        width: 90%;
        height: 90%;
        object-fit: cover;
        object-position: center;
    }
}


//Styles

body {
    transition:
        background-position 550ms ease-out;
    min-height: 100vh;
    overflow-x: hidden;
    // background-position: 0% 0%;
    background-image: linear-gradient(to right, var(--body-bg-color-primary), var(--body-bg-color-secondary), var(--body-bg-color-primary--dark-theme), var(--body-bg-color-secondary--dark-theme));
    background-size: 350% 100%;
    font-family: 'Lato';
    color: var(--text-color);
}

button {
    border: none;
}


.theme {
    position: fixed;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, var(--body-bg-color-primary), var(--body-bg-color-secondary), var(--body-bg-color-primary--dark-theme), var(--body-bg-color-secondary--dark-theme));
    background-size: 350% 100%;
    background-position: 100% 0;
    height: 125px;
    width: 125px;
    border-radius: 0 0 50% 0;
    @include center-flex-column;
    z-index: 70;
    transition: all 350ms ease-out;
    translate: -60px -60px;

    &:hover {
        translate: 0px 0px;
    }

    &__blurred-bg {
        position: absolute;
        top: 0%;
        left: 0%;
        z-index: -69;
        backdrop-filter: blur(0px);
        transition: backdrop-filter 350ms ease-out;
    }

    &__toggler {
        width: inherit;
        height: inherit;
        text-align: center;
        @include center-flex;
        padding: 5px;
        z-index: 72;

        &:hover+.theme__blurred-bg {
            top: 0%;
            left: 0%;
            width: 200vw;
            height: 200vh;
            border-radius: 0%;
            backdrop-filter: blur(5px);
        }

        &-button {
            background-color: transparent;
            border-radius: 50%;
            aspect-ratio: 1/1;
            height: 55px;
            outline: 2px solid var(--text-color);

            &>i {
                font-size: 38px;
                color: var(--text-color);
            }

            &:hover {
                cursor: pointer;
            }
        }
    }
}


.main {
    @include center-flex-column;

    min-height: 100vh;

    &__sentences-container {
        margin-bottom: 50px;

        &>* {
            text-align: center;
        }
    }

    &__title {
        margin-top: 50px;
        font-size: 60px;
        font-weight: 800;
        font-family: 'Raleway';
        -webkit-text-stroke: 2px var(--text-color);
        color: transparent;

        &>span {
            font-weight: 300;
            -webkit-text-stroke: 0px;
            color: var(--text-color)
        }

    }

    &__paragraph {
        margin: 15px;

        &:nth-child(1) {
            font-size: 24px;
        }

        &:nth-child(2) {
            font-size: 18px;
        }
    }

    &__cards-container {
        @include grid(3, 4);

        @include mobile-only {
            @include grid(6, 2);
        }

        margin: 0 0 25px 0;

    }

    &__card {
        @include card-styling;

        &:active>.main__card-front {
            transform: rotateY(0deg);
        }

        &:active>.main__card-back {
            transform: rotateY(-180deg);
        }

        &-front {
            @include card-faces-styling;
            transform: rotateY(180deg);
            transition: transform 550ms ease-in-out;

        }

        &-back {
            @include card-faces-styling;
            transition:
                background-color 450ms ease-out,
                transform 550ms ease-in-out,
                opacity 450ms ease-out;


        }
    }
}

.show-card {
    &>.main__card-front {
        transform: rotateY(0deg);
    }

    &>.main__card-back {
        transform: rotateY(-180deg);
    }
}