//SASS variables
$body-bg-color-primary: #d17608;
$body-bg-color-secondary: #ec3503;
$body-bg-color-primary--dark-theme: hsl(193, 85%, 20%);
$body-bg-color-secondary--dark-theme: hsl(213, 69%, 10%);
$text-color: white;

$near-transparent: rgba(0, 0, 0, 0.1);
$shadow-color: #00000033;
$card-bg-color: white;

$selection-bg-color: #0041b3;
$selection-text-color: white;

$before-bg-color: #0041b3;
$before-bg-color--checked: #ffbe4c;
$after-bg-color: white;
$after-bg-color--checked: black;


//CSS variables

:root {
    --body-bg-color-primary: #{$body-bg-color-primary};
    --body-bg-color-secondary: #{$body-bg-color-secondary};
    --body-bg-color-primary--dark-theme: #{$body-bg-color-primary--dark-theme};
    --body-bg-color-secondary--dark-theme: #{$body-bg-color-secondary--dark-theme};
    --text-color: #{$text-color};
    --shadow-color: #{$shadow-color};
    --card-bg-color: #{$card-bg-color};

    --selection-bg-color: #{$selection-bg-color};
    --selection-text-color: #{$selection-text-color};

    --near-transparent: #{$near-transparent};

    --before-bg-color: #{$before-bg-color};
    --before-bg-color--checked: #{$before-bg-color--checked};

    --after-bg-color: #{$after-bg-color};
    --after-bg-color--checked: #{$after-bg-color--checked};
}

.dark-theme {
    //SASS variables
    $body-bg-color-primary: #d17608;
    $body-bg-color-secondary: #ec3503;
    $body-bg-color-primary--dark-theme: hsl(193, 85%, 20%);
    $body-bg-color-secondary--dark-theme: hsl(213, 69%, 10%);
    $text-color: white;

    $near-transparent: rgba(0, 0, 0, 0.1);

    $shadow-color: #ffffff33;
    $card-bg-color: black;

    $selection-bg-color: #ffbe4c;
    $selection-text-color: black;

    $before-bg-color: #0041b3;
    $before-bg-color--checked: #ffbe4c;
    $after-bg-color: white;
    $after-bg-color--checked: black;


    --body-bg-color-primary: #{$body-bg-color-primary};
    --body-bg-color-secondary: #{$body-bg-color-secondary};
    --body-bg-color-primary--dark-theme: #{$body-bg-color-primary--dark-theme};
    --body-bg-color-secondary--dark-theme: #{$body-bg-color-secondary--dark-theme};
    --text-color: #{$text-color};
    --shadow-color: #{$shadow-color};
    --card-bg-color: #{$card-bg-color};

    --selection-bg-color: #{$selection-bg-color};
    --selection-text-color: #{$selection-text-color};

    --near-transparent: #{$near-transparent};

    --before-bg-color: #{$before-bg-color};
    --before-bg-color--checked: #{$before-bg-color--checked};

    --after-bg-color: #{$after-bg-color};
    --after-bg-color--checked: #{$after-bg-color--checked};

}

.light-theme {
    //SASS variables
    $body-bg-color-primary: #d17608;
    $body-bg-color-secondary: #ec3503;
    $body-bg-color-primary--dark-theme: hsl(193, 85%, 20%);
    $body-bg-color-secondary--dark-theme: hsl(213, 69%, 10%);
    $text-color: white;

    $near-transparent: rgba(0, 0, 0, 0.1);
    $shadow-color: #00000033;
    $card-bg-color: white;

    $selection-bg-color: #0041b3;
    $selection-text-color: white;

    $before-bg-color: #0041b3;
    $before-bg-color--checked: #ffbe4c;
    $after-bg-color: white;
    $after-bg-color--checked: black;


    //CSS variables


    --body-bg-color-primary: #{$body-bg-color-primary};
    --body-bg-color-secondary: #{$body-bg-color-secondary};
    --body-bg-color-primary--dark-theme: #{$body-bg-color-primary--dark-theme};
    --body-bg-color-secondary--dark-theme: #{$body-bg-color-secondary--dark-theme};
    --text-color: #{$text-color};
    --shadow-color: #{$shadow-color};
    --card-bg-color: #{$card-bg-color};

    --selection-bg-color: #{$selection-bg-color};
    --selection-text-color: #{$selection-text-color};

    --near-transparent: #{$near-transparent};

    --before-bg-color: #{$before-bg-color};
    --before-bg-color--checked: #{$before-bg-color--checked};

    --after-bg-color: #{$after-bg-color};
    --after-bg-color--checked: #{$after-bg-color--checked};

}

//Dark theme
@media (prefers-color-scheme: dark) {
    //SASS variables
    $body-bg-color-primary: #d17608;
    $body-bg-color-secondary: #ec3503;
    $body-bg-color-primary--dark-theme: hsl(193, 85%, 20%);
    $body-bg-color-secondary--dark-theme: hsl(213, 69%, 10%);
    $text-color: white;

    $near-transparent: rgba(0, 0, 0, 0.1);

    $shadow-color: #ffffff33;
    $card-bg-color: black;

    $selection-bg-color: #ffbe4c;
    $selection-text-color: black;

    $before-bg-color: #0041b3;
    $before-bg-color--checked: #ffbe4c;
    $after-bg-color: white;
    $after-bg-color--checked: black;

    :root {
        --body-bg-color-primary: #{$body-bg-color-primary};
        --body-bg-color-secondary: #{$body-bg-color-secondary};
        --body-bg-color-primary--dark-theme: #{$body-bg-color-primary--dark-theme};
        --body-bg-color-secondary--dark-theme: #{$body-bg-color-secondary--dark-theme};
        --text-color: #{$text-color};
        --shadow-color: #{$shadow-color};
        --card-bg-color: #{$card-bg-color};

        --selection-bg-color: #{$selection-bg-color};
        --selection-text-color: #{$selection-text-color};

        --near-transparent: #{$near-transparent};

        --before-bg-color: #{$before-bg-color};
        --before-bg-color--checked: #{$before-bg-color--checked};

        --after-bg-color: #{$after-bg-color};
        --after-bg-color--checked: #{$after-bg-color--checked};
    }

    body {
        background-position: 100% 0%;
    }

}



//Maps
$breakpoints: (
    mobile: 768px,
    tablet: 992px,
    laptop: 993px,
    desktop: 1150px
);

//Normalization and typography
*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    // transition: all 500ms ease-out;
}

*::-moz-selection {
    -webkit-text-stroke: 0px;
    background-color: var(--selection-bg-color);
    color: var(--selection-text-color);
}

*::selection {
    -webkit-text-stroke: 0px;
    background-color: var(--selection-bg-color);
    color: var(--selection-text-color);
}

button {
    border: none;
}

$outline-color-keyboard-key: #eee;
$bg-color-keyboard-key: #0f1214;

kbd {
    border-radius: 2px;
    outline: 1px solid $outline-color-keyboard-key;
    padding: 1px;
    margin: 0 2px;
    background-color: $bg-color-keyboard-key;
}

//Mixins 


@mixin center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin center-flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin mobile-only {
    @media screen and (max-width: map-get($breakpoints, mobile)) {
        @content;
    }
}


@mixin grid($rows: autofill, $columns: autofill) {
    display: grid;
    grid-template-rows: repeat($rows, 1fr);
    grid-template-columns: repeat($columns, 1fr);
    gap: 20px;
}

@mixin card-styling {
    position: relative;
    aspect-ratio: 1/1;
    height: 150px;
    border-radius: 4px;
    transition:
        scale 250ms ease-out;
    perspective: 1250px;
    perspective-origin: top;

    &:hover {
        cursor: pointer;
        scale: 105%;
    }
}

@mixin card-faces-styling {
    background-color: var(--card-bg-color);
    box-shadow: 0px 7px 7px var(--shadow-color);
    border-radius: inherit;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    @include center-flex;
    pointer-events: none; //So that we can ONLY select the entire card and neither of the faces
    transition:
        background-color 450ms ease-out,
        transform 550ms ease-in-out,
        opacity 450ms ease-out;



    &>img {
        width: 90%;
        height: 90%;
        -o-object-fit: cover;
        object-fit: cover;
        -o-object-position: center;
        object-position: center;
    }
}


//Styles

body {
    transition:
        background-position 550ms ease-out;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;

    background-image: linear-gradient(to right, var(--body-bg-color-primary), var(--body-bg-color-secondary), var(--body-bg-color-primary--dark-theme), var(--body-bg-color-secondary--dark-theme));
    background-size: 350% 100%;
    font-family: 'Lato';
    color: var(--text-color);
}


.theme {
    position: fixed;

    @include mobile-only {
        position: inherit;
        width: 100%;
        height: 50px;
        border-radius: 0%;
    }

    top: 0;
    left: 0;
    height: 125px;
    width: 125px;
    border-radius: 0 0 50% 0;
    @include center-flex-column;
    z-index: 70;
    transition: all 350ms ease-out;
    translate: -65px -40px;

    @include mobile-only {
        translate: 0 0;
    }

    &:hover {
        translate: 0px 0px;
    }

    &:hover+.blurred-bg {
        background-color: var(--near-transparent);
        visibility: visible;
        backdrop-filter: blur(2px);
        -webkit-backdrop-filter: blur(2px);
        scale: 100%;
        z-index: 50;
    }

    &__toggler {
        width: inherit;
        height: inherit;
        text-align: center;
        @include center-flex;
        padding: 5px;
        z-index: 72;


        &>p {
            margin: 0 20px;
        }

        &-label {
            background-color: transparent;
            aspect-ratio: 1/1;
            height: 55px;
            position: relative;
            @include center-flex;

            &:hover {
                cursor: pointer;
            }

            &::before {

                content: "";
                display: inline-block;
                width: 100%;
                height: 25px;
                background-color: var(--before-bg-color);
                border-radius: 100vmax;
                transition: background-color 200ms ease-out;

            }

            &::after {
                position: absolute;
                content: "";
                display: inline-block;
                aspect-ratio: 1/1;
                height: 20px;
                background-color: var(--after-bg-color);
                border-radius: 50%;
                left: 43%;
                top: 50%;
                translate: -100% -50%;
                transition:
                    translate 200ms ease-out,
                    top 200ms ease-out,
                    left 200ms ease-out;
            }

        }

        &-checkbox {
            display: none;

            &:checked+.theme__toggler-label::after {
                translate: 45% -50%;
                background-color: var(--after-bg-color--checked);
            }

            &:checked+.theme__toggler-label::before {
                background-color: var(--before-bg-color--checked);
            }
        }
    }
}


.blurred-bg {
    @include mobile-only {
        display: none;
    }

    border-radius: 0 100vmax 100vmax 0;
    position: absolute;
    width: 200vw;
    height: 100vh;
    background-color: transparent;
    visibility: hidden;
    scale: 0%;
    transform-origin: top left;
    //
    transition: visibility 350ms ease-out,
    scale 350ms ease-in,
    -webkit-backdrop-filter 350ms ease-out;

}

.main {
    @include center-flex-column;

    min-height: 100vh;
    z-index: 49;

    &__sentences-container {
        margin-bottom: 50px;

        &>* {
            text-align: center;
        }
    }

    &__title {
        margin-top: 25px;
        font-size: 60px;
        font-weight: 800;
        font-family: 'Raleway';
        -webkit-text-stroke: 2px var(--text-color);
        color: transparent;

        &>span {
            font-weight: 300;
            -webkit-text-stroke: 0px;
            color: var(--text-color)
        }

    }

    &__paragraph {
        margin: 15px;

        &:nth-child(1) {
            font-size: 24px;
        }

        &:nth-child(2) {
            font-size: 18px;
        }
    }

    &__cards-container {
        @include grid(3, 4);

        @include mobile-only {
            @include grid(6, 2);
        }

        margin: 0 0 25px 0;

    }

    &__card {
        @include card-styling;

        &-front {
            @include card-faces-styling;
            transform: rotateY(180deg);

        }

        &-back {
            @include card-faces-styling;



        }
    }
}

.show-card {
    &>.main__card-front {
        transform: rotateY(0deg);
    }

    &>.main__card-back {
        transform: rotateY(-180deg);
    }
}

.restart-paragraph {
    &--widescreen {
        display: block;

        @include mobile-only {
            display: none;
        }
    }

    &--mobile {
        display: none;

        @include mobile-only {
            display: block;
        }
    }
}